<%= stylesheet_link_tag 'application', 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css' %>

<%= form_for @post do |f| %>

  <div class="post_container">
      <div class="post_content">
          <div class="post_title"><%= f.label :title %></div>
          <div class="post_text_form"><%= f.text_field :title %></div>
      </div>
      <div style="margin: 0px 0px 20px;"></div>
      <div class="post_content">
          <div class="post_title"><%= f.label :text %></div>
          <div class="post_text_form"><%= f.text_area :text, cols: "23", rows: "20" %></div>
      </div>
      <div style="margin: 0px 0px 20px;"></div>
      <div class="post_content">
          <div class="post_text_form"><%= f.submit %></div>
      </div>
      <div style="margin: 0px 0px 20px;"></div>
      <%= link_to posts_path do %><div class="post_edit">Back</div><% end %>
  </div>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
